{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Page d'accueil</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur corporis cum cupiditate dolor, eius est fugiat, ipsum molestias nihil perferendis quos recusandae sapiente, sint tenetur vel voluptas voluptatibus voluptatum?</p>
    </div>

{% endblock %}
